<div class='postTitle'>
  <%= @post_show.title %>
</div>
<div class='postDate'>
  <%= @post_show.created_at %>
</div>
<div class='postAuthor'>
</div>
<div class= 'postText'>
  <%= simple_format @post_show.content %>
</div>
